/* Edited for Manor Theme */

.facets-browse-category-heading-list-header {
    position: relative;
    padding-bottom: $sc-padding-lv3;
    margin-top: -20px;

    @media (min-width: $screen-md-min) {
        &.facets-browse-category-heading-list-header-with-image {
            margin-top: -70px;
            .facets-browse-category-heading-main-image {
              img {
                width: 100%;
              }
            }
        }
    }
}

.facets-browse-category-heading-main-description {
    margin: $sc-margin-lv2 0;
    padding-left: $sc-padding-lv3;

    .facets-browse-category-heading-list-header-with-image & {
        @media (min-width: $screen-sm-min) {
            position: absolute;
            top: 50%;
            transform: perspective(1px) translateY(-50%);
            margin: 0;
        }
    }
}

.facets-browse-category-heading-main-description h1 {
    @media (max-width: $screen-sm-max) {
        text-align: center;
        font-size: $sc-font-size-xxxl * 2;
    }
}
