/* Edited for Manor Theme */

.login-register-header{
	@extend .row;
	margin-bottom: $sc-margin-lv4;
	text-align:center;
}

.login-register-title{
	@extend .col-xs-12;
	font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.login-register-title-noregister{
	text-align: center;
}

.login-register-body{
	@extend .row;
}

.login-register-body-colored{
	@extend .login-register-body;

	& .login-register-wrapper-column-login {
		@extend .col-sm-push-3;
	}
}

.login-register-wrapper-column-login{
	width:100%;
}

.login-register-wrapper-column-register{
	@extend .col-xs-12;
	@extend .col-sm-6;
}

.login-register-wrapper-login{
	display: table;
    margin: 0 auto;
    /* border: 1px solid black; */
    width: 90%;

	@media (min-width: $screen-md-min) {
		width: 50%;
	}
}

.login-register-wrapper-register{
	@extend .box-column;
}

.login-register-wrapper-guest{}
.login-register-title-register{}
