// Edited for Manor Theme

.header-logo-wrapper {
	flex: 0 0 $sc-mobile-header-logo-width;
    padding-left: $sc-mobile-header-logo-left-padding;
    margin-top: $sc-mobile-header-logo-top-margin;

    @media(min-width: $screen-md-min) {
        display: none;
    }
}

.header-logo-image {
    margin-top: $sc-desktop-header-logo-top-margin;
    max-width: $sc-mobile-header-logo-width - $sc-mobile-header-logo-left-padding; // for IE, see #106

	@media(min-width: $screen-md-min) {
        width: 250px;
        max-width: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}

.header-sidebar-logo-image {
	width: 30%;
	margin-top: 30px;
}

.header-logo-sitename {}
